@import "Animation.scss";

$break-small: 420px;
$break-large: 600px;

.calendar {
  border: 1px solid #ccc;
  padding: 10px;
  margin: 10px;
  margin: 30;
  padding: 30;
  font-family: sans-serif;
  color: #333;

  //min-height: 100vh;
  display: grid;
  grid-template-areas:
    "year year year year year year year"
    "month month month month month month month"  
    "day day day day day day day"  
    "day day day day day day day"
    "day day day day day day day"
    "day day day day day day day"
    "day day day day day day day";
  grid-auto-columns: 1fr;
  text-align: center;

  @media screen and (max-width: $break-small) {
    //width: 100px;
    //float: none;    
    font-size: 2rem;
  }
  @media screen and (min-width: $break-large) {
    width: 300px;
    font-size: 1rem;
    //float: right;    
  }
}

.year{
  grid-area: year;
  display: flex;
  flex-wrap: wrap;  
}
.year div{
  flex: 7 0 100%;  
  
}

.action-panel{
  grid-area: month;
  display: flex;
  flex-wrap: wrap;
  flex: 1 0 30%;
  
}
.action-panel .wide{
  flex: 5 0 40%;
}

.days div{
  flex: 1 0 13%;
}

.days{    
  grid-area: day;
  display: flex;
  flex-wrap: wrap;
}

.days .validDays:hover{
  animation-name: example;
  animation-duration: 4s;
  animation-iteration-count:1;
  //animation-iteration-count: 3;
}