@import "General.scss";

.calendar {
  @extend .component; 

  //min-height: 100vh;
  display: grid;
  grid-template-areas:
    "year year year year year year year"
    "month month month month month month month"  
    "day day day day day day day"  
    "day day day day day day day"
    "day day day day day day day"
    "day day day day day day day"
    "day day day day day day day";
  grid-auto-columns: 1fr;
  text-align: center; 
}

.year{
  grid-area: year;
  display: flex;
  flex-wrap: wrap;  
}
.year div{
  flex: 7 0 100%;  
  
}

.action-panel{
  grid-area: month;
  display: flex;
  flex-wrap: wrap;
  flex: 1 0 30%;
  
}
.action-panel .wide{
  flex: 5 0 40%;
}

.days div{
  flex: 1 0 13%;
}

.days{    
  grid-area: day;
  display: flex;
  flex-wrap: wrap;
}

.days .validDays:hover{
  animation-name: toDark;
  animation-duration: 4s;
  animation-iteration-count:1;
  //animation-iteration-count: 3;
} 