.square, .component, .calendar {
  border: 1px solid #ccc;
  margin: 10px;
  padding: 10px;
  font-family: sans-serif;
  color: #333; }

@media screen and (max-width: 420px) {
  .component, .calendar {
    font-size: 1.5rem; } }

@media screen and (min-width: 600px) {
  .component, .calendar {
    width: 300px;
    font-size: 1rem; } }

.cursorHand, .actionPanel :not(.wide), .days div {
  cursor: pointer; }

@keyframes toDark {
  0% {
    background-color: white; }
  100% {
    background-color: gray; } }

.calendar {
  display: grid;
  grid-template-areas: "year year year year year year year" "month month month month month month month"   "day day day day day day day"   "day day day day day day day" "day day day day day day day" "day day day day day day day" "day day day day day day day";
  grid-auto-columns: 1fr;
  text-align: center; }

.year {
  grid-area: year;
  display: flex;
  flex-wrap: wrap; }

.year div {
  flex: 7 0 100%; }

.actionPanel {
  grid-area: month;
  display: flex;
  flex-wrap: wrap;
  flex: 1 0 30%; }

.actionPanel .wide {
  flex: 5 0 40%; }

.days div {
  flex: 1 0 13%; }

.days {
  grid-area: day;
  display: flex;
  flex-wrap: wrap; }

.days .validDays:hover {
  animation-name: toDark;
  animation-duration: 4s;
  animation-iteration-count: 1; }
