$break-small: 420px;
$break-large: 600px;

.square{
  border: 1px solid #ccc;  
  margin: 10px;
  padding: 10px;
  font-family: sans-serif;
  color: #333;
}

.component{  
  @extend .square;
  @media screen and (max-width: $break-small) {    
    font-size: 1.5rem;
  }
  @media screen and (min-width: $break-large) {
    width: 300px;
    font-size: 1rem;
    //float: right;    
  }
}

.cursorHand{
    cursor:pointer;
}

@keyframes toDark {
    0%   {background-color: white;}
    100%  {background-color: gray;}
}