$break-small: 420px;
$break-large: 600px;

.component{
  border: 1px solid #ccc;
  padding: 10px;
  margin: 10px;
  margin: 30;
  padding: 30;
  font-family: sans-serif;
  color: #333;

   @media screen and (max-width: $break-small) {    
    font-size: 2rem;
  }
  @media screen and (min-width: $break-large) {
    width: 300px;
    font-size: 1rem;
    //float: right;    
  }
}

@keyframes toDark {
    0%   {background-color: white;}
    100%  {background-color: gray;}
}